<a href="https://colab.research.google.com/github/srivarshini-pratapaneni/srivarshini_INFO5731_spring2021/blob/main/In_class_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total, 2/9/2021)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

In [276]:
#1.2
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import nltk
import textblob
from textblob import TextBlob
from textblob import Word
import csv
nltk.download('wordnet')
nltk.download('punkt')
stop = stopwords.words('english')
case= pd.read_csv(r'/test.txt',error_bad_lines=False, names=["tweet"])


print('\n\nDATA\n\n')
print(case)


case['word_count'] = case['tweet'].apply(lambda x: len(str(x).split(" ")))

#text with word count
print('\n\nWORD COUNT\n\n')
print(case[['tweet','word_count']])


# number of characters
print('\n\nNUMBER OF CHARACTERS\n\n')
case['char_count'] = case['tweet'].str.len() ## this also includes spaces
print(case[['tweet','char_count']])

def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

print('\n\nAVERAGE WORD LENGTH\n\n')

case['avg_word'] = case['tweet'].apply(lambda x: avg_word(x))
print(case[['tweet','avg_word']])


print('\n\nNUMBER OF STOP WORDS\n\n')

stop = stopwords.words('english')

case['stopwords'] = case['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
print(case[['tweet','stopwords']])

print('\n\nNUMBER OF SPECIAL CHARACTERS\n\n')
case['hastags'] = case['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
print(case[['tweet','hastags']])

print('\n\nNUMBER OF NUMERICS\n\n')
case['numerics'] = case['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
print(case[['tweet','numerics']])
print('\n\nNUMBER OF UPPERCASE\n\n')
case['upper'] = case['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
print(case[['tweet','upper']])
print('\n\nLower casing\n\n')
case['tweet'] = case['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
print(case['tweet'])
print('\n\nPunctuation removal\n\n')
case['tweet'] = case['tweet'].str.replace('[^\w\s]','')
print(case['tweet'])
print('\n\nStopwords removal\n\n')
case['tweet'] = case['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
print(case['tweet'])
print('\n\nFrequent words removal\n\n')
freq = pd.Series(' '.join(case['tweet']).split()).value_counts()[-10:]
freq = list(freq.index)
case['tweet'] = case['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
print(case['tweet'])
print('\n\nRare words removal\n\n')
freq = pd.Series(' '.join(case['tweet']).split()).value_counts()[-10:]
freq = list(freq.index)
case['tweet'] = case['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
print(case['tweet'])
print("\n\nSpelling correction\n\n")
case['tweet']=case['tweet'].apply(lambda x: str(TextBlob(x).correct()))
print(case['tweet'])
print('\n\nTokenization\n\n')
case['tweet']=case['tweet'].apply(lambda x: str(TextBlob(x).words))
print(case['tweet'])
print('\n\n Stemming\n\n')
st = PorterStemmer()
case['tweet']=case['tweet'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
print(case['tweet'])
print("\n\n Lemmetization\n\n")
case['tweet'] = case['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
print(case['tweet'])

pd.DataFrame(case['tweet']).to_csv("/content/output.csv")
print("\n\nThe data is saved into output.csv file")

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!


DATA


                                                 tweet
0                                           5 Ala. 740
1                            Supreme Court of Alabama.
2                                                ADAMS
3                                                   v.
4                                   TANNER AND HORTON.
..                                                 ...
142            There are no Filings for this citation.
143                                 Negative Treatment
144  There are no Negative Treatment results for th...
145                                            History
146  There are no History results for this citation...

[147 rows x 1 columns]


WORD COUNT


                                                 tweet  word_count
0                                           5 Ala. 740           3
1                            Supreme Court of Alabama.           4
2                                                ADAMS           1
3                                                   v.           1
4                                   TANNER AND HORTON.           3
..                                                 ...         ...
142            There are no Filings for this citation.           7
143                                 Negative Treatment           2
144  There are no Negative Treatment results for th...           9
145                                            History           1
146  There are no History results for this citation...          21

[147 rows x 2 columns]


NUMBER OF CHARACTERS


                                                 tweet  char_count
0                                           5 Ala. 740          10
1                            Supreme Court of Alabama.          25
2                                                ADAMS           5
3                                                   v.           2
4                                   TANNER AND HORTON.          18
..                                                 ...         ...
142            There are no Filings for this citation.          39
143                                 Negative Treatment          18
144  There are no Negative Treatment results for th...          58
145                                            History           7
146  There are no History results for this citation...         119

[147 rows x 2 columns]


AVERAGE WORD LENGTH


                                                 tweet  avg_word
0                                           5 Ala. 740  2.666667
1                            Supreme Court of Alabama.  5.500000
2                                                ADAMS  5.000000
3                                                   v.  2.000000
4                                   TANNER AND HORTON.  5.333333
..                                                 ...       ...
142            There are no Filings for this citation.  4.714286
143                                 Negative Treatment  8.500000
144  There are no Negative Treatment results for th...  5.555556
145                                            History  7.000000
146  There are no History results for this citation...  4.714286

[147 rows x 2 columns]


NUMBER OF STOP WORDS


                                                 tweet  stopwords
0                                           5 Ala. 740          0
1                            Supreme Court of Alabama.          1
2                                                ADAMS          0
3                                                   v.          0
4                                   TANNER AND HORTON.          0
..                                                 ...        ...
142            There are no Filings for this citation.          4
143                                 Negative Treatment          0
144  There are no Negative Treatment results for th...          4
145                                            History          0
146  There are no History results for this citation...          4

[147 rows x 2 columns]


NUMBER OF SPECIAL CHARACTERS


                                                 tweet  hastags
0                                           5 Ala. 740        0
1                            Supreme Court of Alabama.        0
2                                                ADAMS        0
3                                                   v.        0
4                                   TANNER AND HORTON.        0
..                                                 ...      ...
142            There are no Filings for this citation.        0
143                                 Negative Treatment        0
144  There are no Negative Treatment results for th...        0
145                                            History        0
146  There are no History results for this citation...        0

[147 rows x 2 columns]


NUMBER OF NUMERICS


                                                 tweet  numerics
0                                           5 Ala. 740         2
1                            Supreme Court of Alabama.         0
2                                                ADAMS         0
3                                                   v.         0
4                                   TANNER AND HORTON.         0
..                                                 ...       ...
142            There are no Filings for this citation.         0
143                                 Negative Treatment         0
144  There are no Negative Treatment results for th...         0
145                                            History         0
146  There are no History results for this citation...         2

[147 rows x 2 columns]


NUMBER OF UPPERCASE


                                                 tweet  upper
0                                           5 Ala. 740      0
1                            Supreme Court of Alabama.      0
2                                                ADAMS      1
3                                                   v.      0
4                                   TANNER AND HORTON.      3
..                                                 ...    ...
142            There are no Filings for this citation.      0
143                                 Negative Treatment      0
144  There are no Negative Treatment results for th...      0
145                                            History      0
146  There are no History results for this citation...      4

[147 rows x 2 columns]


Lower casing


0                                             5 ala. 740
1                              supreme court of alabama.
2                                                  adams
3                                                     v.
4                                     tanner and horton.
                             ...
142              there are no filings for this citation.
143                                   negative treatment
144    there are no negative treatment results for th...
145                                              history
146    there are no history results for this citation...
Name: tweet, Length: 147, dtype: object


Punctuation removal


0                                              5 ala 740
1                               supreme court of alabama
2                                                  adams
3                                                      v
4                                      tanner and horton
                             ...
142               there are no filings for this citation
143                                   negative treatment
144    there are no negative treatment results for th...
145                                              history
146    there are no history results for this citation...
Name: tweet, Length: 147, dtype: object


Stopwords removal


0                                              5 ala 740
1                                  supreme court alabama
2                                                  adams
3                                                      v
4                                          tanner horton
                             ...
142                                     filings citation
143                                   negative treatment
144                  negative treatment results citation
145                                              history
146    history results citation 5 ala 740 supreme cou...
Name: tweet, Length: 147, dtype: object


Frequent words removal


0                                              5 ala 740
1                                  supreme court alabama
2                                                  adams
3                                                      v
4                                          tanner horton
                             ...
142                                     filings citation
143                                   negative treatment
144                  negative treatment results citation
145                                              history
146    history results citation 5 ala 740 supreme cou...
Name: tweet, Length: 147, dtype: object


Rare words removal


0                                              5 ala 740
1                                  supreme court alabama
2                                                  adams
3                                                      v
4                                          tanner horton
                             ...
142                                     filings citation
143                                   negative treatment
144                  negative treatment results citation
145                                              history
146    history results citation 5 ala 740 supreme cou...
Name: tweet, Length: 147, dtype: object


Spelling correction


0                                              5 all 740
1                                  supreme court alabama
2                                                  adams
3                                                      v
4                                          manner norton
                             ...
142                                     filing situation
143                                   negative treatment
144                 negative treatment results situation
145                                              history
146    history results situation 5 all 740 supreme co...
Name: tweet, Length: 147, dtype: object


Tokenization


0                                    ['5', 'all', '740']
1                        ['supreme', 'court', 'alabama']
2                                              ['adams']
3                                                  ['v']
4                                   ['manner', 'norton']
                             ...
142                              ['filing', 'situation']
143                            ['negative', 'treatment']
144    ['negative', 'treatment', 'results', 'situation']
145                                          ['history']
146    ['history', 'results', 'situation', '5', 'all'...
Name: tweet, Length: 147, dtype: object


 Stemming


0                                    ['5', 'all', '740']
1                        ['supreme', 'court', 'alabama']
2                                              ['adams']
3                                                  ['v']
4                                   ['manner', 'norton']
                             ...
142                              ['filing', 'situation']
143                            ['negative', 'treatment']
144    ['negative', 'treatment', 'results', 'situation']
145                                          ['history']
146    ['history', 'results', 'situation', '5', 'all'...
Name: tweet, Length: 147, dtype: object


 Lemmetization


0                                    ['5', 'all', '740']
1                        ['supreme', 'court', 'alabama']
2                                              ['adams']
3                                                  ['v']
4                                   ['manner', 'norton']
                             ...
142                              ['filing', 'situation']
143                            ['negative', 'treatment']
144    ['negative', 'treatment', 'results', 'situation']
145                                          ['history']
146    ['history', 'results', 'situation', '5', 'all'...
Name: tweet, Length: 147, dtype: object


The data is saved into output.csv file

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [ ]:

def removeZeros(ip): 
    new = ".".join([str(int(i)) for i in ip.split(".")])   
    return new; 
ip ="260.08.094.109"  
print("Raw input: 260.08.094.109")
print("After removing zeros:",removeZeros(ip))

Raw input: 260.08.094.109
After removing zeros: 260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [273]:
# Write your code here
# pip install date_extractor
import re 
import numpy as np
from date_extractor import extract_dates
import datetime
# initializing string  
test_string = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."
  
# printing original string  
#print("The original string : " + test_string) 
print("The years in this sentence:")
# getting numbers from string  
res=list(extract_dates(test_string))
for i in res:
  print(i.year)

The years in this sentence:
2010
2010
2019