<a href="https://colab.research.google.com/github/srivarshini-pratapaneni/srivarshini_INFO5731_spring2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [1]:
# write your answer here
str = input("enter the string: ")
count=0
for s in str:
  count = count+1
print("length of the string is:",count)

enter the string: johnybabu
length of the string is: 9

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [7]:
# write your answer here
def char_frequency(str):
  dict = {}
  for n in str:
    keys=dict.keys()
    if n in keys:
      dict[n] +=1
    else:
      dict[n] = 1
  return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [16]:
# write your answer here
def sum_list(items):
  sum = 0
  for x in items:
    sum += x
  return sum
print(sum_list([1,89,57]))

147

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [18]:
# write your answer here
def change_char(string):
  char = string[0]
  string = string.replace(char, '$')
  string= char + string[1:]

  return string
print (change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [30]:
# write your answer here
a=float (input("enter a: "))
b=float (input("enter b: "))
K = a/b
S =3.14* ((1+ K)*(1+K)*(1+K))
print(S)

enter a: 5
enter b: 5
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [33]:
# write your answer here
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
dic = {}
for x in (dic1,dic2,dic3): dic.update(x)
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [43]:
# write your answer here
tuple = ("n","o","r","t","h",5,7,"t","e","x","a","s")
print("n" in tuple)
print(9 in tuple)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [45]:
# write your answer here
given_set = set([5,6,7,8,9])
print("maximum of set :",max(given_set))
print("minimum of set:",min(given_set))

maximum of set : 9
minimum of set: 5

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [76]:
# write your answer here
del list
my_list=['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091' ]

def divide_chunks(l, n): 
      
    # looping till length l 
    for i in range(0, len(l), n):  
        yield l[i:i + n] 
  

n = 5
  
x = list(divide_chunks(my_list, n)) 
print (x)

[['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940'], ['bk0301', 'rak0120', 'rrk0058', 'spk0057', 'vl0135'], ['nm0547', 'pn0159', 'msp0174', 'dd0420', 'ds0761'], ['rs0850', 'ss1995', 'at0739', 'at0768', 'mv0299'], ['tv0119', 'dy0091']]